*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    color:#555;
}
h1{
    font-weight: 900;
    font-size: 5rem;
    text-transform: capitalize;
}
h2{
    font-weight: 700;
    font-size: 3rem;
    text-transform: capitalize;

}
p{
    color:inherit;
    text-align: justify;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7;
}
.orange{
    color:orange;
}
.flexible-container{
    display: flex;
} 
#order-food{
   padding:3rem;
}
.half-width{
    width:45%;
    margin:4rem auto;
    padding-left:4rem;
}
.content{
    padding:3rem 3rem 1rem;
}
#text{
    margin:4rem 0;
}
.half-width img{
    width:90%;
}
.btn{
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    background-image: linear-gradient(to right,orange,tomato);
    color:#fff;
    padding:1rem 4rem;
    border-radius: 10rem;
}
#contact{
    background-image: url(../images/shapes/Frame\ 58.jpg);
    background-size: cover;
}
#recipies{
    padding-bottom: 10rem;
}

.my-recipies{
    width:40%;
    text-align: center;
    margin:5rem auto 1rem;
}
.my-recipies p{
    margin-top: 3rem;
    text-align: center;
}
.examples-recipie{
    width:100%;
}
.first-recipie,
.second-recipie,
.third-recipie{
   width:23%;
   margin:1rem 5% 3rem;
   padding:1%;
   border-radius: 5%;
   box-shadow: 1rem 1rem 4rem rgb(0,0,0,0.5);
}
.first-recipie p,
.second-recipie p,
.third-recipie p{
    margin: 1.5rem 0;
}
.image-recipe{
    width:95%;
}
.image-recipie img{
    width:100%;
    height: 173px;
    display: inline-block;
    object-fit: fill;
    border-radius: 7%;
}
#footer{
    text-align: center;
    background-color: #000;
    color: #aaa;
}
#footer h2{
    text-align: center;
    text-transform: uppercase;
    padding:2rem 0;
}
#footer p{
 text-align: center;
 padding-bottom: 6rem;
}
#header{
    border-bottom: 1px solid #999;
    height: 7rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.header__logo{
    width:10%;
    padding-left: 7rem;
}
.header__logo img{
    width:80%;
}
.nav{
    margin-left:auto;
    width: 50%;
}
.list{
    display: flex;
  list-style: none;
  height: 100%;
}
.item{
    width: 100%;
    display: flex;
    color:#333;
    position: relative;
    z-index: 99;
}
.item:not(:last-child){
    margin-right: 1rem;
}
.item::before{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform:scaleY(0);
    background-color: yellow;
    transform-origin: bottom;
    transition: all .5s ease-out;
    z-index: -1;
}
.item:hover::before {
    color:#ccc;
    font-weight: 700;
    width: 100%;
    transform:scaleY(1);
}

.link:link,.link:visited{
   text-decoration: none;
   text-transform: capitalize;
   font-size: 1.9rem;
   color: inherit;
   padding:1rem 3rem;
}
#followers{
    width: 90%;
    margin:0 auto 5rem;
    box-shadow: 1rem 1rem 4rem rgba(0,0,0,0.5);
    border-radius: 5px;
}
.followers{
    width:25%;
    margin-left:auto;
    padding:4rem;
 }
 .followers h1{
     color:#000;
 }

#reviews{
    width: 90%;
    margin:5rem auto;
}
.user-review{
    display: flex;
}

.review{
    width:30%;
    box-shadow: 1rem 1rem 4rem rgba(0,0,0,0.5);
    border-radius: 5px;
    padding:3rem 3rem;
    position:relative;
}
.review:not(:last-child){
    margin-right: 5%;
}
.review::before{
    content:"\201C";
    position:absolute;
    top:-3rem;
    left:-3rem;
    line-height: 1;
    font-size: 20rem;
    color:#ddd;
}
.review__text{
    font-family: sans-serif;
    font-size: 1.5rem;
    color:#999;
    margin-bottom: 2rem;
}
.review__user{
    display: flex;
}
.review__photo{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 3rem;
}
.review__user-box{
    display: flex;
    flex-direction: column;
}
.review__rating{
    margin-left: auto;
    background-color: #777;
    color:#fff;
    line-height: 1.7;
    font-size: 2rem;
    font-weight: 700;
    padding:0 2rem;
}